/** RESET STYLES **/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration-line: none;
  font-style: normal;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  background-color: #fff;
  color: #434455;
}

.container {
  width: 100%;
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/**HEADER**/
.header-box {
  border-bottom: 1px solid #e7e9fc;
  display: flex;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.container-header {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo-header {
  margin-right: 76px;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* .accent {
} */

.navigation-links {
  /* display: flex; */
  display: none;
  gap: 40px;
}

.links-item {
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.contacts {
  align-items: center;
  margin-left: auto;
}

.contacts-links {
  /* display: flex; */
  display: none;
  gap: 40px;
}

.contacts-links-item a {
  padding: 24px 0;
  display: inline-block;
}

/* * HIDDEN **/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** BUTTON **/
.button-main-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.button-main-title {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-main-title:hover,
.button-main-title:focus {
  background-color: #404bbf;
}

/**LOGO**/
.logo-header .accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #2e2f42;
}

.logo-header {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  line-height: 1.17;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
}

/** NAVIGATION **/
.navigation {
  color: #2e2f42;
}

.navigation-links {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.links-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.links-item.current {
  color: #404bbf;
}

.links-item.current::after {
  content: "";
  width: 100%;
  border-radius: 2px;
  height: 4px;
  position: absolute;
  background-color: #404bbf;
  left: 0;
  bottom: -1px;
}

.links-item:hover,
.links-item:focus {
  color: #404bbf;
}

/** CONTACTS **/
.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.contacts-links-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.contacts-links-item:focus {
  color: #404bbf;
}

/**MAIN TITLE**/
.main-table {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-phone.jpg);
  padding-top: 72px;
  padding-bottom: 200px;
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  /* width: 80%; */
}

@media screen and (min-resolution: 2x) {
  .main-table {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/herophone-2x.jpg);
  }
}

.main-title {
  text-transform: capitalize;
  font-weight: 700;
  /* font-size: 56px;
  line-height: 1.07; desktop*/
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
  font-size: 36px;
  line-height: 1.11111;
  padding-left: 36px;
  padding-right: 36px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.section-title.capitalize {
  text-transform: capitalize;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section-subtitle.left {
  text-align: left;
}

.section-paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-paragraph.left {
  text-align: left;
}

.features {
  /* padding-top: 120px;
  padding-bottom: 120px; desktop */
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  /* padding-right: 156px;
  padding-left: 156px; desktop*/
  padding-right: 16px;
  /* gap: 24px; desktop*/
  gap: 72px;
}

.features-list:last-child {
  margin-right: 0;
}

/* .features-list:first-child {
} */

.features-item {
  width: 100%;
  /* flex-basis: calc((100% - 72px) / 4); desktop*/
}

.icon-benefits {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 24px 100px;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

/*
.section-subtitle {
}

.section-paragraph {
} */

.team-cards {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
  width: 100%;
  /* max-width: 552px; */
  padding: 0 0;
}

.team-title {
  /* margin-bottom: 72px; */
  padding-top: 96px;
  padding-bottom: 72px;
}

/* 
.section-title {
}

team-title
*/

.team-members {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 0;
  padding-left: 12px;
  padding-right: 12px;
}

.team-member {
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  width: 100%;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-member:last-child {
  margin-right: 0;
}

.member {
  padding: 32px 0;
}

/* .team-member-image {
} */

.team-member-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
  /* padding: 32px 65px 8px 65px; */
}

.section-paragraph.center {
  text-align: center;
  /* padding: 0px 68px 32px 68px; */
}

/**ICONS MAIN**/
.icons {
  stroke: #fff;
  fill: #f4f4fd;
}

.icons-bg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(77, 90, 229, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-bg:hover {
  background-color: #404bbf;
}

.icons-bg:focus {
  background-color: #404bbf;
}

.social-icons-team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  margin-top: 8px;
}

.icons-bg {
  stroke: #fff;
  fill: #fff;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons-team {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 24px;
  margin-top: 12px;
}

/**PORTFOLIO**/
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  margin-bottom: 72px;
}

.about-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.all-works {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
}

.work-item {
  margin-right: 0px;
  flex: 1 1 100%;
  max-width: 100%;
  /* width: calc((100% - 48px) / 4); */
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-item:hover .paste-cover-text {
  transform: translateY(0%);
}

.work-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

/**COVER**/
.paste-cover-text {
  position: absolute;
  top: 0;
  background-color: #4d5ae5;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.paste-cover {
  position: relative;
  overflow: hidden;
}

/**FOOTER**/
.logo-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5 !important;
  margin-bottom: 16px;
}

.logo-footer .accent {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
  display: inline-block;
}

.footer-box {
  background-color: #2e2f42;
  padding-top: 96px;
  padding-bottom: 96px;
  /* padding-top: 100px;
  padding-bottom: 100px; */
}

/* .footer-section {
  display: flex;
  align-items: baseline;
} */

.logo-footer-text {
  /* /* margin-right: 120px;* */
  padding-bottom: 72px;
  width: 288px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
  max-width: 264px;
}

.social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.social-text-form {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
/* 
.footer-form {
  display: flex;
  gap: 24px;
} */

.social-media-footer {
  padding-bottom: 72px;
}

/**ICONS FOOTER**/
.social-icons-footer {
  display: flex;
  gap: 16px;
}

.social-icon-footer {
  width: 40px;
  height: 40px;
}

.icons-bgfooter {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-bgfooter:hover,
.icons-bgfooter:focus {
  background-color: #31d0aa;
}

.icon-footer {
  stroke: #fff;
  fill: #f4f4fd;
}

.footer-input {
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
}

.footer-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.btn-footer-submit {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  /* 
  padding: 8px 24px;
  padding-left: 24px;
  padding-right: 64px;
  padding-top: 8px; */
}

.footer-input-button-row {
  display: flex;
  gap: 8px;
}

.footer-input {
  flex: 1;
  margin-bottom: 16px;
}

.icon-subscribe {
  margin-left: 16px;
}

.footer-contacts-wrap {
  margin-left: auto;
}

/* MODAL */
.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-close {
  background-color: #e7e9fc;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: #404bbf;
  border: none;
  color: #ffffff;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  width: 360px;
  margin-bottom: 16px;
}

.modal-item {
  width: 360px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: #fff;
  border-radius: 4px;
  outline: transparent;
}

.modal-input {
  height: 40px;
  padding-left: 38px;
  width: 100%;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: inline-block;
  margin-bottom: 4px;
  line-height: 1.17;
  display: block;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}

.modal-input-cover {
  position: relative;
}
/**TEXTAREA**/
.modal-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  /* width: 360px; */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 120px;
  resize: none;
  padding: 8px 16px;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-button-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
}

/**CHECKBOX**/
.modal-field-chekbox {
  margin-bottom: 24px;
}

.check-custom {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border-width: 1px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
}

.check-text {
  font-weight: 400;
  font-size: 12px;
  color: rgba(142, 143, 153, 1);
  align-items: center;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.visually-hidden:checked + .check-text .check-custom {
  border: none;
  background-color: rgba(64, 75, 191, 1);
  fill: #fff;
}

.visually-hidden:checked + .check-text .check-custom {
  fill: #f4f4fd;
}

.checkbox-link {
  color: #4d5ae5;
}

.modal-button {
  display: block;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
